modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot Server"

[[workflows.workflow]]
name = "Discord Bot Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && node index.js"
